body {
margin: 0;
padding: 0;
font-size: 14px;
line-height: 21px;
font-family: "PT Sans", "Arial", sans-serif;
font-weight: normal;
color: #333333;
text-transform: uppercase;
background-color: #f2f2f2;
}


a {
  text-decoration: none;

}



.wrapper {
width: 1200px;
margin:0 auto;
background-color: white;
position: relative;
}

.main-navigation {
font-weight: bold;
line-height: 26px;
color: #000000;
position: relative;
}

.logo {
  position: absolute;
  top: 0;
  left: 531px;
}

.site-navigation {
  display: flex;
  justify-content: space-between;

  align-items: center;
  list-style: none;
  height: 56px;
  margin: 0;
  padding: 0 72px;


}

.site-navigation li:nth-child(3),
.site-navigation li:nth-child(4) {
text-align: right;
}

.site-navigation li:nth-child(2){
padding-right: 120px;
}

.site-navigation li:nth-child(3){
padding-right: 4px;
}

.site-navigation li {
width: 20%;


}

.site-navigation a{
color: #000000;


}

.site-navigation a:hover{
  color: #81b3d2;
}

.site-navigation a:active{
  color: rgba(0,0,0,.3);
}

a.current {
  color: #766357;
}

.visually-hidden {
position: absolute;
overflow: hidden;
clip: rect(0 0 0 0);
height: 1px;
width: 1px;
margin: -1px;
padding: 0;
border: 0;
}

.welcome {
  background-image: url("../img/welcome-bottom.png"), url("../img/background.jpg");
  background-position: bottom, 0px -56px;
  background-repeat: no-repeat,no-repeat;
  height: 508px;
  text-align: center;
}
.sedona-pic-text {
  margin: 0 auto;
  padding-top: 76px;
}

.introduction {
  text-align: center;
  box-sizing: border-box;
  padding-top: 61px;
  height: 216px; /*оставила здесь height, так как когда ставлю min-height, то блок,
  лежащий внизу отодвигается вниз на некоторое количество пикселей непонятно почему,
  как-будто-бы у него появляется margin сверху, который нигде не задан. Не знаю, как с этим справиться*/

}

.description-sedona,
.footer-hashtag,
.result p:first-child,
.hotel-card-description p:first-child {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
}

.reason {
display: flex;


}
.features-list {
display: flex;

}



.reason-introduction,
.footer-website-by p {
  line-height: 26px;
}

.reason-introduction {
  margin-top: 27px;
}



.feature-name,
.reason-name{

  font-size: 21px;
  font-weight: bold;
  color: #000000;
}
.reason-name{
  margin-top: 48px;
  margin-bottom: 23px;
}

.reason-detail-pic {
  background-color: #81b3d2;
  color: white;
  text-align: center;
  padding: 0 60px;
}

.reason-detail-pic p:nth-child(3) {

margin-top: 21px;

}
 .reason-detail-pic .reason-name {
   color: white;
}

.reason-detail{
  width: 33%;
  background-color: #eeeeee;
  text-align: center;
  padding: 0 58px;
}
.reason-detail p:nth-child(3) {
  margin-top: 21px;
  margin-bottom: 59px;
}

/*.features {
  height: 330px;
}*/

.features-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.features-item{
   position: relative;
   text-align: center;
   width: 33%;
   padding: 0 58px;

}
.features-item p {
  margin-bottom: 82px;
}

.feature-name{
 margin-top: 162px;
 margin-bottom: 23px;

}

.house::before {
background-image: url("../img/svg/icon-1.svg");
left: 163px;
top: 60px;
}

.food::before {
background-image: url("../img/svg/icon-3.svg");
left: 159px;
top: 60px;
}

.souvenir::before {
background-image: url("../img/svg/icon-2.svg");
left: 169px;
top: 56px;
}



.feature-name::before {

display: block;
content: "";
width: 80px;
height: 80px;
background-repeat: no-repeat;
position: absolute;

}





.before-hotel-search {
  height: 291px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.before-hotel-search input[type="button"]{
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  background-color: #766357;
  border: none;
  width: 568px;
  height: 86px;
  margin: 0 auto;
}

.hotel-search {
  margin-top: 52px;
  margin-bottom: -24px;
}

.before-hotel-search input[type="button"]{
font-family: "PT Sans", "Arial", sans-serif;
}

.hostel-search-form {
  position: absolute;
  top: 291px;
  left: 316px;
  background-color: white;
  width: 569px;
  height: 395px;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  padding: 55px;
  justify-content: space-between;
}

.hostel-search-form p{
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0;
}

.hostel-search-form .adults,
.hostel-search-form .kids {
  width: 50%;
}
.hostel-search-form input[type="text"]{
  width: 346px;
  height: 38px;
  background-color: #f2f2f2;
  border: none;
  font-family: "PT Sans", "Arial", sans-serif;
  text-transform: uppercase;
  padding-left: 13px;
}


.calendar {
  position: absolute;
  right: 0;
}



.hotel-search,
.hostel-search-form input[type="submit"]{
  font-size: 30px;
  line-height: 36px;
  font-weight: bold;
  color: #000000;
}

.hostel-search-form input[type="submit"]{
font-family: "PT Sans", "Arial", sans-serif;
}

.expected-date {
  line-height: 26px;
  padding: 0 380px;
  line-height: 24px;
}

.hostel-search-form label,
.hostel-search-form input[type="text"],
.hostel-search-form input[type="number"]{
  line-height: 26px;
  font-weight: bold;
  color: #000000;
}

.hostel-search-form input[type="number"]{
  width: 38px;
  height: 38px;
  border: none;
  background-color: #f2f2f2;
  padding-left: 14px;
  box-sizing: border-box;

}
.adults button,
.kids button {
  width: 38px;
  height: 38px;
  border: none;
  background-color: #f2f2f2;
  font-size: 20px;
  font-weight: bold;

}

.hostel-search-form input[type="submit"] {
  color: white;
  background-color: #81b3d2;
  padding: 21px 196px;
  border: none;
}

.hostel-search-form input[type="submit"]:hover {
  background-color: #669ec0;
}

.hostel-search-form input[type="submit"]:active {
background-color: #5496bd;
color: rgba(225,225,225,.3);
  }

/*.social-button{
  visibility: hidden;
}*/

.main-footer {
  display: flex;
  width: 1200px;
  height: 126px;
  justify-content: space-around;
  position: absolute;
  background-color: rgba(255,255,255,.6);
  bottom: 0px;
}

.footer-hashtag {
  margin-top: 47px;

}


.social-button {
  display: flex;
  background-color: #81b3d2;
  width: 47px;
  height: 47px;
  justify-content: center;
  align-items: center;

}

.footer-social {
  display: flex;
  width: 150px;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
}

/*==================Catalog=======================*/
 .forms {
   background-image: url("../img/filter_background.jpg");
   background-position: center -50px;
   background-repeat: no-repeat;
 }

.filter {
    display: flex;
    justify-content: space-around;
    height: 217px;
  }


.infrastructure p,
.lodging-type p,
.cost p:first-child {
  font-size: 16px;
  font-weight: bold;
  }

  .cost input[type="submit"] {
    color: white;
    background-color: transparent;
    border-color: white;
    border-width: 2px;
    border-radius: 2px;
    padding: 11px 35px;
    text-transform: uppercase;
  }
  .cost input[type="submit"]:hover {
    background-color: white;
    color: black;
  }

.forms {
  color: white;
}



.result {
  display: flex;
  width: 519px;
  justify-content: space-between;
}

.ordering {
  display: flex;
  justify-content: space-between;
  height: 86px;
  padding: 0 73px;
}

.ordering p,{
  font-size: 12px;
  line-height: 18px;
}

.ordering-type li{
  font-size: 12px;
  line-height: 18px;
  display: inline-block;
  }

  .hotels {
    display: flex;
    flex-direction: column;
  }

.hotel-card {
  display: flex;
  height: 150px;
  border-top: 1px solid #e5e5e5;
  justify-content: space-between;
  padding: 0 73px;
}

.hotel-card:nth-child(3) {
  border-bottom: 1px solid #e5e5e5;
 }

.hotel-card-wrapper {
  display: flex;
}

.hotel-card-description{
  margin-right: auto;
}

.hotel-card-description p:first-child:hover {
  color: #81b3d2;
}

.hotel-card-description p:first-child:active {
  color: rgba(0,0,0,.3);
}

.hotel-card-detail,
.hotel-card-book {
  font-weight: bold;
  padding: 8px 13px;
}

.hotel-card-detail {
color: white;
background-color: #81b3d2;
}

.hotel-card-detail:hover {
  background-color: #669ec0;
}

.hotel-card-detail:active {
  background-color: #5496bd;
  color: rgba(225,225,225,.3);
}


.hotel-card-book {
  color: white;
  background-color: #766357;
}

.hotel-card-book:hover {
  background-color: #604e43;
  }

.hotel-card-book:active {
  background-color: #503e33;
  color: rgba(225,225,225,.3);

}
