body {
font-size: 14px;
line-height: 21px;
font-family: "PT Sans", "Arial", sans-serif;
font-weight: normal;
color: #333333;
text-transform: uppercase;
}
.feature-name {
  font-size: 21px;
  font-weight: bold;
  color: #000000;
}
.reason-name {
  font-size: 21px;
  font-weight: bold;
  color: #000000;
}

.hotel-search {
  font-size: 30px;
  line-height: 36px;
  font-weight: bold;
  color: #000000;
}
.visually-hidden {
   visibility: hidden;
}
.social-button{
  visibility: hidden;
}
