body {
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 21px;
    font-family: "PT Sans", "Arial", sans-serif;
    font-weight: normal;
    color: #333333;
    text-transform: uppercase;
    background-color: #f2f2f2;
}
a {
    text-decoration: none;
}
.wrapper {
    width: 1200px;
    margin: 0 auto;
    background-color: white;
    position: relative;
    -webkit-box-shadow: 5px 0px 10px 0 rgba(0, 0, 0, 0.1), -5px 0px 10px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 5px 0px 10px 0 rgba(0, 0, 0, 0.1), -5px 0px 10px 0 rgba(0, 0, 0, 0.1);
}
.main-navigation {
    font-weight: bold;
    line-height: 26px;
    color: #000000;
    position: relative;
}
.logo {
    position: absolute;
    top: 0;
    left: 531px;
}
.site-navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    list-style: none;
    height: 56px;
    margin: 0;
    padding: 0 72px;
}
.site-navigation li:nth-child(3),
.site-navigation li:nth-child(4) {
    text-align: right;
}
.site-navigation li:nth-child(2) {
    padding-right: 120px;
}
.site-navigation li:nth-child(3) {
    padding-right: 4px;
}
.site-navigation li {
    width: 20%;
}
.menu-item {
    color: #000000;
}
.menu-item:hover {
    color: #81b3d2;
}
.menu-item:active {
    color: rgba(0, 0, 0, .3);
}
.current {
    color: #766357;
}
.visually-hidden {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
}
.welcome {
    background-image: url("../img/welcome-bottom.png"), url("../img/background.jpg");
    background-position: bottom, 0px -56px;
    background-repeat: no-repeat, no-repeat;
    height: 508px;
    text-align: center;
}
.sedona-pic-text {
    margin: 0 auto;
    padding-top: 76px;
}
.introduction {
    text-align: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-top: 61px;
    height: 216px;
}
.description-sedona,
.footer-hashtag,
.result p:first-child,
.hotel-card-description p:first-child {
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    color: #000000;
}
.reason-introduction,
.footer-website-by p {
    line-height: 26px;
}
.reason-introduction {
    margin-top: 27px;
}
.feature-name,
.reason-name {
    font-size: 21px;
    font-weight: bold;
    color: #000000;
}
.reason-name {
    margin-top: 48px;
    margin-bottom: 23px;
}
.reason-detail-pic {
    background-color: #81b3d2;
    color: white;
    text-align: center;
}
.reason-detail-pic p:nth-child(3) {
    margin-top: 21px;
}
.reason-detail-pic .reason-name {
    color: white;
}
.reason {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.reason-detail {
    width: 33%;
    background-color: #eeeeee;
    text-align: center;
}
.reason-detail p:nth-child(3) {
    margin-top: 21px;
    margin-bottom: 59px;
}
.reason-1 {
    padding: 0 55px;
}
.reason-2 {
    padding: 0 45px;
}
.reason-3,
.reason-5 {
    padding: 0 60px;
}
.reason-4 {
    padding: 0 65px;
}
.features-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.features-item {
    position: relative;
    text-align: center;
    width: 33%;
    padding: 0 58px;
}
.features-item p {
    margin-bottom: 82px;
}
.feature-name {
    margin-top: 162px;
    margin-bottom: 23px;
}
.house::before {
    background-image: url("../img/svg/icon-1.svg");
    left: 163px;
    top: 60px;
}
.food::before {
    background-image: url("../img/svg/icon-3.svg");
    left: 159px;
    top: 60px;
}
.souvenir::before {
    background-image: url("../img/svg/icon-2.svg");
    left: 169px;
    top: 56px;
}
.features-item::before {
    display: block;
    content: "";
    width: 80px;
    height: 80px;
    background-repeat: no-repeat;
    position: absolute;
}
.before-hotel-search {
    height: 291px;
    text-align: center;
    position: relative;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-top: 52px;
}
.before-hotel-search>a {
    display: block;
    position: relative;
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    background-color: #766357;
    border: none;
    width: 568px;
    height: 86px;
    margin: 0 auto;
    padding-top: 31px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 2;
}
.before-hotel-search>a:hover {
    background-color: #604e43;
}
.before-hotel-search>a:active {
    background-color: #503e33;
    color: rgba(255, 255, 255, .3);
}
.hostel-search-form {
    position: absolute;
    top: 291px;
    left: 316px;
    background-color: white;
    width: 569px;
    height: 395px;
    display: none;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 55px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-line-pack: justify;
    align-content: space-between;
}
.hostel-search-form-show {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-animation: bounce 0.6s;
    animation: bounce 0.6s;
    z-index: 1;
}
@-webkit-keyframes bounce {
    0% {
        -webkit-transform: translateY(-86px);
        transform: translateY(-86px);
    }
    70% {
        -webkit-transform: translateY(30px);
        transform: translateY(30px);
    }
    90% {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}
@keyframes bounce {
    0% {
        -webkit-transform: translateY(-86px);
        transform: translateY(-86px);
    }
    70% {
        -webkit-transform: translateY(30px);
        transform: translateY(30px);
    }
    90% {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}
@-webkit-keyframes shake {
    0%, 100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    10%,
    30%,
    50%,
    70%,
    90% {
        -webkit-transform: translateX(-10px);
        transform: translateX(-10px);
    }
    20%,
    40%,
    60%,
    80% {
        -webkit-transform: translateX(10px);
        transform: translateX(10px);
    }
}
@keyframes shake {
    0%, 100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    10%,
    30%,
    50%,
    70%,
    90% {
        -webkit-transform: translateX(-10px);
        transform: translateX(-10px);
    }
    20%,
    40%,
    60%,
    80% {
        -webkit-transform: translateX(10px);
        transform: translateX(10px);
    }
}
.input-error {
    -webkit-animation: shake 0.6s;
    animation: shake 0.6s;
}
.hostel-search-form p {
    position: relative;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 0;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.hostel-search-form .adults,
.hostel-search-form .kids {
    width: 50%;
}
.hostel-search-form .adults {
    padding-right: 3px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.hostel-search-form .kids {
    padding-left: 51px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.hostel-search-form input[type="text"] {
    width: 346px;
    height: 38px;
    margin-left: auto;
    background-color: #f2f2f2;
    border: 2px solid #f2f2f2;
    font-family: inherit;
    text-transform: uppercase;
    padding-left: 11px;
    outline: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.hostel-search-form .input-date:hover {
    background-color: #ebebeb;
    border: 2px solid #ebebeb;
}
.hostel-search-form .input-date:focus {
    background-color: white;
    border: 2px solid #e5e5e5;
}
.calendar {
    position: absolute;
    background-image: url("../img/svg/calendar.svg");
    background-repeat: no-repeat;
    border: none;
    width: 23px;
    height: 23px;
    background-color: transparent;
    top: 8px;
    right: 7px;
    outline: none;
}
.calendar:hover {
    background-image: url("../img/svg/calendar-hover.svg");
}
.calendar:active {
    background-image: url("../img/svg/calendar-active.svg");
}
.hotel-search {
    font-size: 30px;
    line-height: 36px;
    font-weight: bold;
    color: #000000;
    display: block;
    margin-bottom: 23px;
}
.hostel-search-form input[type="submit"] {
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    background-color: #81b3d2;
    border: none;
    width: 458px;
    height: 58px;
    margin-top: 26px;
    padding-top: 6px;
}
.expected-date {
    line-height: 26px;
    padding: 0 380px;
    line-height: 24px;
    margin-bottom: 46px;
}
.hostel-search-form label,
.hostel-search-form input[type="text"],
.count-control input[type="text"] {
    line-height: 26px;
    font-weight: bold;
    color: #000000;
}
.count-control input[type="text"] {
    width: 38px;
    height: 38px;
    border: none;
    background-color: #f2f2f2;
    padding-left: 16px;
    padding-top: 2px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.adults button,
.kids button {
    width: 38px;
    height: 38px;
    border: none;
    background-color: #f2f2f2;
    color: rgba(0, 0, 0, .3);
    font-size: 20px;
    font-weight: bold;
}
.count-control {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.count-control button:hover {
    color: #000000;
}
.count-control button:active {
    color: #81b3d2;
}
.hostel-search-form input[type="submit"]:hover {
    background-color: #669ec0;
}
.hostel-search-form input[type="submit"]:active {
    background-color: #5496bd;
    color: rgba(225, 225, 225, .3);
}
.map-wrapper {
    position: relative;
}
.map-wrapper img {
    position: relative;
}
.google-map {
    position: absolute;
    left: 0;
    top: 0;
}
.main-footer-index {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 1200px;
    height: 126px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    position: absolute;
    background-color: rgba(255, 255, 255, .9);
    bottom: 0px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 133px;
    padding-right: 101px;
}
.footer-hashtag {
    margin-top: 47px;
}
.social-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #81b3d2;
    width: 47px;
    height: 47px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.social-button:hover {
    background-color: #669ec0;
}
.social-button:active,
.social-button:active path {
    background-color: #5496bd;
    fill: #88b6d1;
}
.footer-social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 150px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: 36px;
    margin-left: 27px
}
.footer-website-by {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 196px;
}
.footer-website-by p {
    margin-bottom: 20px;
}
.logo-html-academy:hover path {
    fill: #81b3d2;
}
.logo-html-academy:active path {
    fill: #bdbbbc;
}
/*==================Catalog=======================*/

.forms {
    background-color: #6f6162;
    background-image: url("../img/filter_background.jpg");
    background-position: center -50px;
    background-repeat: no-repeat;
}
.filter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    height: 217px;
    padding: 28px 73px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.filter-column {
    width: 253px;
}
.cost {
    margin-left: auto;
}
.filter-column p:first-child {
    font-size: 16px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 23px;
}
.cost p:first-child {
    font-size: 16px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 10px;
}
.filter-column label {
    display: block;
    position: relative;
    padding-left: 39px;
    margin-bottom: 25px;
    cursor: pointer;
}
.checkbox-indicator {
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("../img/svg/checkbox-off.svg");
    background-repeat: no-repeat;
    width: 28px;
    height: 24px;
}
.filter-column input[type="checkbox"]:checked + .checkbox-indicator {
    background-image: url("../img/svg/checkbox-on.svg");
}
.filter-column input[type="checkbox"]:checked:disabled + .checkbox-indicator {
    background-image: url("../img/svg/checkbox-on-disabled.svg");
}
.filter-column input[type="checkbox"]:disabled + .checkbox-indicator {
    background-image: url("../img/svg/checkbox-off-disabled.svg");
}
.forms {
    color: white;
}
.filter-range-title {
    margin-bottom: 9px;
}
.price-controls {
    position: relative;
    height: 35px;
    width: 316px;
    margin-bottom: 20px;
    border: 2px solid #ffffff;
    border-radius: 2px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.price-controls::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 2px;
    height: 22px;
    background: #ffffff;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.price-controls label {
    display: inline-block;
    font-size: 14px;
    line-height: 28px;
    vertical-align: top;
    cursor: pointer;
}
.price-controls .min-price {
    width: 90px;
    padding-left: 65px;
}
.price-controls .max-price {
    width: 90px;
    padding-left: 50px;
}
.price-controls input {
    width: 50px;
    margin: 0;
    color: inherit;
    font: inherit;
    line-height: 20px;
    background: none;
    border: none;
}
.range-controls {
    position: relative;
    margin-bottom: 32px;
}
.range-controls .scale {
    height: 2px;
    background: rgba(255, 255, 255, 0.3);
}
.range-controls .bar {
    width: 80%;
    height: 2px;
    background: #ffffff;
}
.range-toggle {
    position: absolute;
    top: -9px;
    width: 4px;
    height: 4px;
    background: #ababab;
    border: 8px solid #ffffff;
    border-radius: 50%;
    -webkit-box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
    box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
    cursor: pointer;
}
.range-toggle:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}
.range-toggle-min {
    left: 0;
}
.range-toggle-max {
    left: 80%;
}
.btn-transparent {
    display: block;
    padding: 6px 35px;
    font-size: 14px;
    line-height: 20px;
    color: #ffffff;
    text-transform: uppercase;
    background: transparent;
    border: 2px solid #ffffff;
    border-radius: 2px;
    cursor: pointer;
    font: inherit;
    margin-right: 92px;
    margin-left: auto;
}
.btn-transparent:hover {
    color: #000000;
    background: #ffffff;
}
.result {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 519px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 2px;
}
.ordering {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    height: 86px;
    padding: 0 73px;
}
.ordering p {
    font-size: 12px;
    line-height: 18px;
}
.ordering-type {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-left: 0;
    width: 239px;
}
.ordering-type li {
    font-size: 12px;
    line-height: 18px;
    display: inline-block;
    vertical-align: top;
}
.ordering-type a {
    color: rgba(0, 0, 0, .3);
    border-bottom: 1px dotted #81b3d2;
}
.ordering-type a:hover {
    color: #81b3d2;
}
.ordering-type a:active {
    color: black;
    border-bottom: none;
}
a.active {
    color: #81b3d2;
    border-bottom: none;
}
.ordering-direction {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 35px;
}
.direction path {
    fill: #cacaca;
}
.direction:hover path {
    fill: #231f20;
}
.direction:active path {
    fill: #81b3d2;
}
.active-direction path {
    fill: #81b3d2;
}
.result p:nth-child(2) {
    font-size: 12px;
    line-height: 18px;
    margin-left: 0px;
}
.hotels {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}
.hotel-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 151px;
    border-top: 1px solid #e5e5e5;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 30px 72px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.hotel-card:nth-child(3) {
    border-bottom: 1px solid #e5e5e5;
}
.hotel-card-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.hotel-card-description {
    margin-right: auto;
    margin-left: 30px;
}
.hotel-card-description p:first-child {
    margin-top: -4px;
    margin-bottom: -8px;
}
.hotel-card-description p:first-child:hover {
    color: #81b3d2;
}
.hotel-card-description p:first-child:active {
    color: rgba(0, 0, 0, .3);
}
.hotel-card-description p:nth-child(2) {
    margin-bottom: 17px;
}
.hotel-card-description span:nth-child(1) {
    display: inline-block;
    width: 80px;
    margin-right: 32px;
    vertical-align: top;
}
.hotel-card-detail,
.hotel-card-book {
    font-weight: bold;
    padding: 5px 17px;
}
.hotel-card-book {
    margin-left: 2px;
}
.hotel-card-detail {
    color: white;
    background-color: #81b3d2;
}
.hotel-card-detail:hover {
    background-color: #669ec0;
}
.hotel-card-detail:active {
    background-color: #5496bd;
    color: rgba(225, 225, 225, .3);
}
.hotel-card-book {
    color: white;
    background-color: #766357;
}
.hotel-card-book:hover {
    background-color: #604e43;
}
.hotel-card-book:active {
    background-color: #503e33;
    color: rgba(225, 225, 225, .3);
}
.stars {
    text-align: right;
}
.rating {
    background-color: #f2f2f2;
    padding: 3px 14px;
    color: #666666;
    margin-top: 40px;
}
.main-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 1200px;
    height: 126px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    background-color: white;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 133px;
    padding-right: 101px;
}
