body {
margin: 0;
padding: 0;
font-size: 14px;
line-height: 21px;
font-family: "PT Sans", "Arial", sans-serif;
font-weight: normal;
color: #333333;
text-transform: uppercase;
background-color: #f2f2f2;
}


a {
  text-decoration: none;

}



.wrapper {
width: 1200px;
margin:0 auto;
background-color: white;
}

.main-navigation {
font-weight: bold;
line-height: 26px;
color: #000000;
position: relative;
}

.logo {
  position: absolute;
  top: 0;
  left: 531px;
}

.site-navigation {
  display: flex;

  align-items: center;
  list-style: none;
  height: 56px;
  margin: 0;
  padding: 0;


}
.site-navigation li:nth-child(2) {
margin-right: auto;
}
.site-navigation li:nth-child(3) {
margin-right: 91px;
}

.site-navigation li {

margin: 0 73px;

}

.site-navigation a{
color: #000000;


}

.site-navigation a:hover{
  color: #81b3d2;
}

.site-navigation a:active{
  color: rgba(0,0,0,.3);
}

a.current {
  color: #766357;
}

.visually-hidden {
position: absolute;
overflow: hidden;
clip: rect(0 0 0 0);
height: 1px;
width: 1px;
margin: -1px;
padding: 0;
border: 0;
}

.welcome {
  background-image: url("../img/welcome-bottom.png"), url("../img/background.jpg");
  background-position: bottom, 0px -55px;
  background-repeat: no-repeat,no-repeat;
  height: 510px;
  text-align: center;
}
.sedona-pic-text {
  margin: 0 auto;
  padding-top: 77px;
}

.introduction {
  text-align: center;

  height: 216px;

}

.description-sedona,
.hostel-search-form p,
.footer-hashtag,
.result p:first-child,
.hotel-card-description p:first-child {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
}

.reason {
display: flex;

}
.features-list {
display: flex;

}



.reason-introduction
.footer-website-by p {
  line-height: 26px;
}

.feature-name,
.reason-name{
  font-size: 21px;
  font-weight: bold;
  color: #000000;
}

.reason-detail-pic {
  background-color: #81b3d2;
  color: white;
  text-align: center;
}
 .reason-detail-pic .reason-name {
   color: white;
}

.reason-detail{


  width: 400px;
  height: 256px;
  background-color: #eeeeee;
  text-align: center;
}

.features-item{
  text-align: center;
}

.features-item:before {
  background-image: url("../img/svg/icon-1.svg"); <!-- Тут остановилась -->
}

.before-hotel-search {
  height: 291px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.before-hotel-search input[type="button"]{
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  background-color: #766357;
  border: none;
  width: 568px;
  height: 86px;
  margin: 0 auto;
}

.hotel-search,
.hostel-search-form input[type="submit"]{
  font-size: 30px;
  line-height: 36px;
  font-weight: bold;
  color: #000000;
}

.expected-date {
  line-height: 26px;
}

.hostel-search-form label,
.hostel-search-form input[type="text"],
.hostel-search-form input[type="number"]{
  line-height: 26px;
  font-weight: bold;
  color: #000000;
}

.hostel-search-form input[type="submit"] {
  color: white;
  background-color: #81b3d2;
  padding: 21px 196px;
  border: none;
}

.hostel-search-form input[type="submit"]:hover {
  background-color: #669ec0;
}

.hostel-search-form input[type="submit"]:active {
background-color: #5496bd;
color: rgba(225,225,225,.3);
  }

/*.social-button{
  visibility: hidden;
}*/

.main-footer {
  display: flex;
  justify-content: space-around;
}

.footer-social {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*==================Catalog=======================*/
 .forms {
   background-image: url("../img/filter_background.jpg");
   background-position: center -50px;
   background-repeat: no-repeat;
 }

.filter {
    display: flex;
    justify-content: space-around;
    height: 217px;
  }


.infrastructure p,
.lodging-type p,
.cost p:first-child {
  font-size: 16px;
  font-weight: bold;
  }

  .cost input[type="submit"] {
    color: white;
    background-color: transparent;
    border-color: white;
    border-width: 2px;
    border-radius: 2px;
    padding: 11px 35px;
    text-transform: uppercase;
  }
  .cost input[type="submit"]:hover {
    background-color: white;
    color: black;
  }

.forms {
  color: white;
}



.result {
  display: flex;
  width: 519px;
  justify-content: space-between;
}

.ordering {
  display: flex;
  justify-content: space-between;
  height: 86px;
  padding: 0 73px;
}

.ordering p,{
  font-size: 12px;
  line-height: 18px;
}

.ordering-type li{
  font-size: 12px;
  line-height: 18px;
  display: inline-block;
  }

  .hotels {
    display: flex;
    flex-direction: column;
  }

.hotel-card {
  display: flex;
  height: 150px;
  border-top: 1px solid #e5e5e5;
  justify-content: space-between;
  padding: 0 73px;
}

.hotel-card:nth-child(3) {
  border-bottom: 1px solid #e5e5e5;
 }

.hotel-card-wrapper {
  display: flex;
}

.hotel-card-description p:first-child:hover {
  color: #81b3d2;
}

.hotel-card-description p:first-child:active {
  color: rgba(0,0,0,.3);
}

.hotel-card-detail,
.hotel-card-book {
  font-weight: bold;
  padding: 8px 13px;
}

.hotel-card-detail {
color: white;
background-color: #81b3d2;
}

.hotel-card-detail:hover {
  background-color: #669ec0;
}

.hotel-card-detail:active {
  background-color: #5496bd;
  color: rgba(225,225,225,.3);
}


.hotel-card-book {
  color: white;
  background-color: #766357;
}

.hotel-card-book:hover {
  background-color: #604e43;
  }

.hotel-card-book:active {
  background-color: #503e33;
  color: rgba(225,225,225,.3);

}
